{% extends 'base.html.twig' %}


{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}


{% block body %}




            <h1>Formulaire pour Créé un nouveau film</h1>



            {{form_start(formulaire)}}
                {{form_row(formulaire.name)}}
                {{form_row(formulaire.resumer)}}

                {{form_row(formulaire.realisateur)}}

                        <button type="submit" class="btn btn-success">Enregistrer</button>


            {{form_end(formulaire)}}


{% endblock %}
