{% extends 'base.html.twig' %}


{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}


{% block body %}




    <h1>Formulaire pour Créé un nouveau film</h1>



    {{form_start(formulaire)}}
        {{form_row(formulaire.name, {'attr': {'placeholder': 'indiquez ici le nom du nouveau film'}})}}
        {{form_row(formulaire.resumer {'attr': {'placeholder': 'indiquez ici le résumer du nouveau film'})}}

        {{form_row(formulaire.realisateur, {'attr':{'placeholder':'indiquez ici le nom du realisateur du film'}})}}

        <button type="submit" class="btn btn-success">Enregistrer</button>


    {{form_end(formulaire)}}







{% endblock %}
