{% extends 'base.html.twig' %}


{% block body %}


<h1 class="text-center text-primary py-5">Ce film {{film.name}}</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <p>Son nom : <strong>{{film.name}}</strong>  </p>
            <p>Son résumer : <strong>{{film.resumer}}</strong>  </p>
            <p>Son réalisateur : <strong>{{film.realisateur}}</strong>  </p>

            <a href="{{ path ('film')}} " class="btn btn-primary">Retour aux films</a>



        </div>
    </div>
</div>

{% endblock %}
