{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
    <h1 class="text-center text-primary py-5">Bienvenue sur mon site des Films Symfony</h1>

<div class="container">

    <div class="row">

        {% for film in films %}

        <div class="col-4">
            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <p>Son nom : <strong>{{film.name}}</strong>  </p>
                    <p>Son résumer : <strong>{{film.resumer}}</strong>  </p>
                    <p>Son réalisateur : <strong>{{film.realisateur}}</strong>  </p>

                    <a href="{{ path ('film_show', {id:film.id})}} " class="btn btn-primary">Voir ce {{film.name}}</a>


                </div>
            </div>
        </div>

        {% endfor %}


    </div>

</div>



{% endblock %}
